@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif !important;
    background-color: #000000;
    color: #000000;
}
section{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 1px 0;
    background: #0000;
    background-color: #000000;
}

.club h2 {
    color: #ffffff;
    font-size: 70px;
    padding: 120px 0;
    text-align: center;
    font-family: fantasy;
}
.container .row {
    display: flex;
    justify-content: center;
}
.col-sm-4 {
    display: flex;
    align-items: stretch;
}
.card{
    position: relative;
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(-45deg, #fe0847, #feae3f);
    margin: 0 auto;
    padding: 40px 20px;
    box-shadow: 0 10px 15px rgb(230, 190, 14);
    transition: .5s;
    overflow: hidden;
}
.col-sm-4:nth-child(1) .card,
.col-sm-4:nth-child(1) .card .title .fa{
    background: linear-gradient(-45deg,#c22ed0, #07a3b2);
}
.col-sm-4:nth-child(2) .card,
.col-sm-4:nth-child(2) .card .title .fa{
    
    background: linear-gradient(-45deg,#dbe9ea, #7dc387);
}
.col-sm-4:nth-child(3) .card,
.col-sm-4:nth-child(3) .card .title .fa{
    background: linear-gradient(-45deg,#f6ea41, #f048c6);
}
.card:before{
    content: '';
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: rgba(255, 255, 255,.1);
    z-index: 1;
    transform: skewY(-5deg) scale(1.5);
}
.title .fa{
    color: #fff;
    font-size: 60px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    box-shadow: 0 10px 10px rgba(255, 255, 255,.1);
}
.title h2{
    position: relative;
    margin: 20px 0 0;
    padding: 0;
    color: #000000;
    font-size: 28px;
    z-index: 2;
}
.title h3{
    color: #000000;
}
.price{
    position: relative;
    z-index: 2;
}
.price h4{
    margin: 0;
    padding: 20px 0;
    color: #000000;
    font-size: 60px;
}
.price sup{
    
    color: #000000;
    
}
.option{
    position: relative;
    z-index: 2;
}
.option ul{
    margin: 0;
    padding: 0;
}
.option ul li{
    margin: 0 0 10px;
    padding: 0;
    list-style: none;
    color: #000000;
    font-size: 16px;
}
.card a{
    position: relative;
    background: #fff;
    z-index: 2;
    color: #feae3f;
    width: 150px;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    display: block;
    text-align: center;
    margin: 20px auto 0;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}
.card a:hover{
    text-decoration: none;
}
.card:hover{
    transform: scale(1.1);
}





.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
}

.modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
}
.modal__title, .modal__paragraph strong{
    color: #000000;
}
.modal__paragraph{
    color: orange;
}
.modal__container{
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: #fff;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition:var(--transition);
}


.modal__img{
    width: 90%;
    max-width: 300px;
}

.modal__close{
    text-decoration: none;
    color: #fff;
    background-color: #F26250;
    padding: 1em 3em;
    border: 1px solid ;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
}

.modal__close:hover{
    color: #F26250;
    background-color: #fff;
}



@media (max-width:800px) {
    nav{
        position: fixed;
        z-index: 3;
        background-color: #e27107;
    }
    .nav-links {
        background-color: #e27107; 
    .nav-links li a {
        color: #f2f5f7;
    }
    


    .modal__container{
        padding: 2em 1.5em;
    }

    
}
