@import url('https://fonts.googleapis.com/css?family=Roboto:300');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: #080202;
    font-family: "Poppins", sans-serif;
}


.heading{
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-image:linear-gradient(#000,transparent 10%,#080202),url(../Img/img-nosotros/lugar.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.heading h1{
    font-size: 80px;
    color: #ffffff;
    margin-bottom: 25px;
    position: relative;
}
.heading h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #e77c15;
}
.heading p{
    font-size: 28px;
    color: #ffffff;
    margin:10px 20%;
    text-shadow:0 0 40px #e77c15;
}

.abajo{
  margin-top: 80px;
}

.container{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}

/*Quienes somos*/
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110vh;
    flex-wrap: wrap;
}
.about-image{
    flex: 1;
}

.about-image img{
    max-width: 100%;
    height: auto;
    margin:auto;
    display: block;
    transition: 0.5s ease;
}
.about-image:hover img{
    transform:rotate(20deg)
}
.about-content{
    flex: 1;
    h2{
      text-align: center;
      font-size: 50px;
      margin-bottom: 20px;
      color: #f3e9e9;
    }
    p{
      font-size: 20px;
      line-height: 1.5;
      color: #f3e9e9;
      text-align: justify;
    }
}

/*Mision*/

.mision-vision-container {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    height: 68vh;
}
.separacion{
  height: 100%;
  background-color: #e77c15;
  width: 4px;
  border-radius: 10px;
}

.mision, .vision {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  text-align: center; 
  padding: 40px 20px;
  background-color: #080202;
  border-radius: 10px;
  margin-right: 20px;
  h3{
    font-size: 50px;
    color: #ffffff;
    margin-bottom: 10px;
  }
  p{
    font-size: 18px;
    color: #ffffff;
    line-height: 2;
  }
}

.info{
  display: flex;
    justify-content: space-between;
    height: 100%;
    margin: 10px auto;

    img{
    width: 50%;
    padding: 10px 10px;
    transition: 0.5s ease;
  }

    p{
      text-align:justify;
      padding: 14px;
      font-size: 20px;
      text-align:right;
      margin: auto;
    }
}

.info:hover img{
  transform:rotate(30deg)
}


.contactanos{
    margin: 100px auto;
    position: relative;
    width: 100%;
    padding: 40px 100px;
}
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 5px 8px 20px #e77c15;
    font-weight: 500;
    color: #e3d8cc;
}

.box{
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 5fr 4fr;
  grid-template-areas: "formulario informacion" "formulario mapa";
  grid-gap: 20px;
  margin-top: 50px;
}

.informacion{
    grid-area: informacion;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction:column;
    h3{
      font-size: 30px;
    }
}

.contacto{
  padding: 20px;
  background: #e77c15;
  box-shadow: 5px 8px 15px #814104;
}

iframe{
  width: 100%;
  height: 100%;
}

.mapa{
  height: 550px;
  padding: 0;
}

.infoBox div{
  margin: 50px 10%;
  display: flex;
  font-size: 18px;
}




.informacion{
    background: #e77c15;
}
.informacion h3{
    color: #fff;
}
.informacion .infoBox div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.informacion .infoBox div span{
    min-width: 40px;
    height: 40px;
    color: #fff;
    background: #c7a17a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
}
.informacion .infoBox div p{
    color: #fff;
}
.informacion .infoBox div a{
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}
.sociales{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sociales a{
    list-style: none;
    margin-right: 15px;
      font-size: 2.5em;
      color: #000;
}

.sociales a:hover{
    color: #fff;
}

@media screen and (max-width:768px){
    .heading{
        padding: 0px 20px;
    }
    .heading h1{
        font-size: 36px;
    }
    .heading p{
        font-size: 17px;
        margin-bottom: 0px;
    }
    .container{
        padding: 0px;
    }
    .about{
        padding: 20px;
        flex-direction: column;
    }
    .about-image{
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .about-content p{
        padding: 0px;
        font-size: 16px;
    }
    .about-content .read-more{
        font-size: 16px;
    }
    .mision-vision-container {
        flex-direction: column;
    }
    .mision, .vision {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .contactanos{
        padding: 20px;
    }
    .box{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "formulario" "informacion" "mapa";
    }
    .formBox .row50{
        display: flex;
        gap: 0;
        flex-direction: column;
    }
    .inputBox{
        width: 100%;
    }
    .contacto{
        padding: 30px;
    }
    .mapa{
        min-height: 300px;
        padding: 0;
    }
}


