@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }
  
  body {
    background-color: #080202;
    font-family: "Poppins", sans-serif;
  }

  .cotainer {
    max-width: 1200px;
    margin: 0 auto;
    
  }

  .swiper-button-prev::after {
    font-size: 25px;
  }

  .swiper-button-next::after{
    font-size: 25px;
  }

  .swiper-button-next {
      color: #db241b;
  }

  .swiper-button-prev {
    color: #db241b;
  }
  .swsiper-pagination-bullet{
    background-color: #d3d2d2;
    opacity: 1;
  }
  .swiper-pagination-bullet-active {
    background-color: #db241b;
  }
  .menu{
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
  }

  .navbar {
    display: flex;
  }
  .menu-1 {
    margin-right: 180px;
    
  }
  .menu-2 {
    margin-left: 180px;
    display: flex;
    align-items: center;
  }

  .logo-1 {
    width: 0;
  }


  .logo-2 {
    width: 150px;
  }

  .socials{
    display: flex;
  }

  .social {
       margin: 0 10px;
       height: 40px;
       width: 40px;
       border: 1px solid  #e77c15;
       border-radius: 50%;
  }

  .social:hover {
    background-color: #e77c15;
  }

  .social img{
    margin: 8px 0 0 10px;
  }

  .menu .navbar ul li{
    position: relative;
    float: left;

  }

  .menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    display: block;
  }

  .menu .navbar ul  li a:hover {
    color: #db241b;
  }

  #menu {
    display: none;
  }

  .menu-icono {
    width: 30px;
  }

  .menu label {
    cursor: pointer;
    display: none;
  }

  


  @media(max-width: 1350px){
    .menu {
      padding: 20px;
      justify-content: space-between;
    }

    .menu-2{
      display: none;
    }

    .logo-1{
      width: 100px;
    }
    .logo-2{
      width: 0;
    }
    .menu label{
      display: initial;
    }
    .menu .navbar{
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: #181818;
      display: none;
    }

    .menu .navbar ul li{
      width: 100%;
    }
    #menu:checked ~ .navbar{
      display: initial;
    }

    .header-content{
      padding: 30px;
      margin-top: 100px;
    }

    .slider {
      flex-direction: column;
    }
    .slider-txt{
      margin-left:0;
      width: 100%;
      text-align: center;
      margin-bottom: 50px;
    }
    .slider-txt h1{
      font-size: 50px;

    }
    .slider-txt p{
      font-size: 16px;
      
    }
    .btn-1 {
      padding: 10px 25px;
      font-size: 14px;
    }

    .slider-img {
      width: 100%;
      text-align: center;
    }

    .slider-img img {
      margin-right: 0px;
      width: 300px;
    }
    .swiper-horizontal > .swsiper-pagination-bullet,
    .swiper-pagination-bullets,.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
      bottom: -7px;
    }

    .tabs{
      padding: 50px 30px;
    }

    .tabs  label{
      width: 33%;
    }
    .info{
      padding: 30px;
      flex-direction: column;
    }
    .info-img {
      width: 100%;
      text-align: center;
    }
    .info-img img{
      width: 400px;
      height: 200px;
      margin-bottom: 25px;
    }
    .info-txt{
      width: 100%;
      text-align: center;
    }
    .info-txt h2{
      font-size: 50px;
    }
    .info-txt p{
      font-size: 16px;
    }
    .btn-1{
      font-size: 16px;
    }
    .horario{
      padding: 30px;
      text-align: center;
    }
    .horario-info h2{
      font-size: 50px;
      margin-bottom: 15px;
    }

    .horario-txt {
      flex-direction: column;
    }
    .socials{
      justify-content: center;
    }
    .social img{
      margin: 8px 0 0 0;
    }

    .footer {
      padding: 30px;
      flex-direction: column;
      text-align: center;
    }
    .links h4 {
      margin: 25px 0px 10px 0px;
    }

  }



  @import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #0d0d0d;
    font-family: "Poppins", sans-serif;
  }

  
section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    margin-top: 120px;
}
section .imgBx{
    position: relative;
    width: 50%;
    height: 100%;
    filter: grayscale(100%) invert(92%) contrast(93%);

}
section .imgBx:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg,#9e4242,#553212);
    
    z-index: 1;
    mix-blend-mode: screen;
}
section .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section .contentBx{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
section .contentBx .formBx{
    width: 50%;
}
section .contentBx .formBx h2{
    color: #ffffff;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #e77c15;
    display: inline-block;
    letter-spacing: 1px;
}
section .contentBx .formBx .inputBx{
    margin-bottom: 20px;
}
section .contentBx .formBx .inputBx span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #ffffff;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
}
section .contentBx .formBx .inputBx input{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #ffffff;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 30px;
}
section .contentBx .formBx .inputBx input[type="submit"]{
    background: #e77c15;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}
section .contentBx .formBx .inputBx input[type="submit"]:hover{
    background: #e77c15;
}
section .contentBx .formBx .remenber{
    margin-bottom: 10px;
    color: #607d8b;
    font-weight: 400;
    font-size: 14px;
}
section .contentBx .formBx .inputBx p{
    color: #607d8b;
}
section .contentBx .formBx .inputBx p a{
    color: #e77c15;
}
section .contentBx .formBx h3{
    color: #607d8b;
    text-align: center;
    margin: 80px 0 10px;
    font-weight: 500;
}
section .contentBx .formBx .sociales{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
section .contentBx .formBx .sociales li{
    list-style: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e77c15;
    border-radius: 50%;
    margin: 0 7px;
    cursor: pointer;
}
section .contentBx .formBx .sociales li:hover{
    background: #e77c15;
}
section .contentBx .formBx .sociales li a{
    color: #e77c15;
    transform: scale(2.5); 
    filter: invert(1);
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(max-width: 768px){
    section.imgBx{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    section .contentBx{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    section .contentBx .formBx{
        width: 100%;
        padding: 40px;
        background: rgb(255 255 255 / 0.9);
        margin: 50px;
    }
    section .contentBx .formBx h3{
        color: #607d8b;
        text-align: center;
        margin: 30px 0 10px;
        font-weight: 500;
    }
}