* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "Zilla Slab", serif;
}



h2 {
  font-family: "Great Vibes", cursive;
  font-size: 3rem;
  text-align: center;
  color: #e27107;
  padding-top: 100px;
}

.container{
  margin-top: 40px;
}

/* .menu {
  margin-top: 40px;
} */

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}


.btn-item {
  margin-left: 15px;
  color: #000000;
  background-color: #fff;
}

.photo {
  width: 30%;
  height: 175px;
  object-fit: cover;
  border: 0.25rem solid #e27107;
  border-radius: 10px;
  box-shadow: -10px 10px 10px 0px rgba(245, 157, 32, 0.6);
}

.menu-items {
  display: flex;
  margin: 20px 0;
  padding-right: 50px;
}

.menu-info {
  margin-left: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 190px;
  padding-bottom: 15px;
  color: #fff;
}

.menu-title {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e27107;
}

h4 {
  color: #e00a00;
}

.menu-text {
  padding-top: 20px;
}

.price-buy-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
 
}

.price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #e27107;
  margin-left: 240px;
  
}


.cart-button {
  position: relative;
  padding: 20px 50px;
  min-width: auto;
  border: 0;
  border-radius: 10px;
  background-color: #e27107;
  outline: none;
  cursor: pointer;
  color: #fff;
  transition: .3s ease-in-out;
  overflow: hidden;
}

.cart-button:hover {
  background-color: #e27107;
}

.cart-button:active {
  transform: scale(.9);
}

.cart-button .fa-stroopwafel {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: -20%;
  font-size: 2em;
  color: black;
  transform: translate(-50%, -50%);
}

.cart-button .fa-pizza-slice {
  position: absolute;
  z-index: 3;
  top: -20%;
  left: 50%;
  font-size: 1.3em;
  color: rgb(255, 243, 20);
  transform: translate(-50%, -50%);
  opacity: 0;
}

.cart-button span {
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 50%;
  font-size: 1.2em;
  color: #fff;
  transform: translate(-50%, -50%);
}

.cart-button span.add-to-cart {
  opacity: 1;
}

.cart-button span.added {
  opacity: 0;
}

.cart-button.clicked .fa-stroopwafel {
  animation: cart 1.5s ease-in-out forwards;
}

.cart-button.clicked .fa-pizza-slice {
  opacity: 1;
  animation: box 1.5s ease-in-out forwards;
}

.cart-button.clicked span.add-to-cart {
  animation: txt1 1.5s ease-in-out forwards;
}

.cart-button.clicked span.added {
  animation: txt2 1.5s ease-in-out forwards;
}

@keyframes cart {
  0% {
    left: -10%;
  }

  40%,
  60% {
    left: 50%;
  }

  100% {
    left: 120%;
  }
}

@keyframes box {

  0%,
  40% {
    top: -40%;
  }

  60% {
    top: 50%;
    left: 50%;
  }

  100% {
    top: 40%;
    left: 112%;
  }
}

@keyframes txt1 {
  0% {
    opacity: 1;
  }

  20%,
  100% {
    opacity: 0;
  }
}

@keyframes txt2 {

  0%,
  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (min-width: 768px) and (max-width: 1050px) {
  .menu-items {
    flex-direction: row; 
    align-items: center;
  }

  .photo {
    width: 40%;
    height: auto;
    margin-right: 20px; 
  }

  .menu-info {
    width: 60%; 
    margin-left: 0;
  }

  .price-buy-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 10px;
  }

  .price {
    margin-left: 0;
    font-size: 1.2rem;
  }

  .cart-button {
    padding: 17px 50px;
    font-size: 1rem;
    margin-left: 10px;
  }
}




@media (max-width: 767px) {
  .btn-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-content: center;
    padding: 0 10px;
  }
  .btn-item {
    width: 87%; 
    text-align: auto;
  }

  .btn-container .btn-item:nth-child(4),
  .btn-container .btn-item:nth-child(5) {
    grid-column: span 1; 
  }
  .menu-items {
    flex-direction: column; 
    align-items: center;   
    padding-right: 0;
    text-align: center;     
  }

  .photo {
    width: 70%;
    height: auto;
    margin-bottom: 15px;
  }

  .menu-info {
    margin-left: 0;
    width: 90%; 
    text-align: center;
  }

  .menu-title {
    justify-content: center; 
    border-bottom: 1px solid #e27107;
  }

  .menu-text {
    text-align: center;
    padding-top: 20px;
  }

  .price-buy-container {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center; 
    gap: 10px;
    margin-top: 10px;
  }

  .price {
    font-size: 1.2rem;
    color: #e27107;
    margin: 0; 
  }

  .cart-button {
    padding: 20px 50px;
    font-size: 1rem;
  }
}