p{
   left: auto;
   font-size: medium;
}

.Separacion {
    text-align: center; /* Centrar las imágenes (opcional) */
}
.Separacion img {
    display: inline-block;
    margin: 5px; /* Espaciado opcional */
    max-width: 100px; /* Ajusta el tamaño si es necesario */
    height: auto;
}