*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body{
  background-color: #ffffff;
}
.heading{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px auto;
}
.heading h1{
  font-size: 50px;
  color: #e77c15;
  margin-bottom: 25px;
  position: relative;
}
.heading h1::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  display: block;
  margin: 0 auto;
  background-color: #e77c15;
}
.heading p{
  font-size: 18px;
  color: rgb(8, 8, 8);
  margin-bottom: 35px;
}
.container{
  width: 90%;
  margin: 0 auto;
  padding: 10px 20px;
}
.about{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.about-image{
  flex: 1;
  margin-right: 40px;
  overflow: hidden;
}
.about-image img{
  max-width: 80%;
  height: auto;
  display: block;
  transition: 0.5s ease;
}
.about-image:hover img{
  transform: scale(1.2);
}
.about-content{
  flex: 1;
}
.about-content h2{
  font-size: 23px;
  margin-bottom: 15px;
  color: #e77c15;
}
.about-content p{
  font-size: 18px;
  line-height: 1.5;
  color: rgb(8, 8, 8);
}
.about-content .read-more{
  display: inline-block;
  padding: 10px 20px;
  background-color: #e77c15;
  color: #fff;
  font-size: 19px;
  text-decoration: none;
  border-radius: 25px;
  margin-top: 15px;
  transition: 0.3 ease;
}
.container-all {
  position: relative;
  max-width: 70%;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}
.slide {
  display: flex;
  transform: translate3d(0,0,0);
  transition: all 600ms;
  animation-name: autoplay;
  animation-duration: 6.5s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.item-slide{
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
  max-width: 100%;
}

.pagination {
  position: relative;
  bottom: auto;
  left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.pagination-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  overflow: hidden;
  cursor:pointer;
  background: rgb(235, 158, 80);
  margin: 0 10px;
  text-align: center;
  transition: all 300ms;
  margin-top: -20px;
}

.pagination-item:hover {
  transform: scale(2);
}

.pagination-item img {
  display: inline-block;
  max-width: none;
  height: 100%;
  transform: scale(1);
  opacity: 0;
  transition: all 300ms;
}

.pagination-item:hover img {
  opacity: 1;
  transform: scale(1);
}

input[id="1"]:checked ~ .slide {
  animation: none;
  transform: translate3d(0,0,0);
}

input [id="1"]:checked ~ .pagination .pagination-item[for="1"] {
  background: #FFF;
}

input[id="2"]:checked ~ .slide {
  animation: none;
  transform: translate3d(calc(-100%*1),0,0);
}

input [id="2"]:checked ~ .pagination .pagination-item[for="2"] {
  background: #FFF;
}

input[id="3"]:checked ~ .slide {
  animation: none;
  transform: translate3d(calc(-100%*2),0,0);
}

input [id="3"]:checked ~ .pagination .pagination-item[for="3"] {
  background: #FFF;
}
.modal .close {
  position: absolute;
  top: 7px;
  right: 15px;
  font-size: 35px;
  cursor: pointer;
}

.modal {
  display: none; 
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 700px;
  overflow-y: auto;
  max-height: 80vh;
  color: rgb(251, 111, 24);
}


.modal-content {
  position: relative;
  width: 100%;
  max-width: 800px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  
}

.modal-content h2 {
  color: orange;
  
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

#miSlider
 {
    display: none;
    
}
.reserva-content {
  text-align: center;
}

.reserva-content h2 {
  font-size: 55px;
  line-height: 70px;
  color:#e77c15;
  text-transform: uppercase;
  padding: 0 250px;
  margin-bottom: 15px;
}
.btn-zona {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e77c15;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
}

.btn-zona:hover {
  background-color: #c86b10;
}

@keyframes autoplay {
  33% {
    transform: translate3d(calc(-100%*0),0,0);
  }

  66% {
    transform: translate3d(calc(-100%*1),0,0);
  }

  100% {
    transform: translate3d(calc(-100%*2),0,0);
  }

  
}


.formulario {
    background-color: #fafafa;
    max-width: 1200px;
  height: 700px;
    margin: 0px auto;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, .1);
    display: flex;
    
}

.container-time {
    background-color: rgba(0, 0, 0, .95);
    padding: 50px;
  color: white;
    outline: 3px dashed #c86b10;
    outline-offset: -30px;
    text-align: center;
  line-height: 75px;
  
}
.heading-form {
    font-size: 35px;
    text-transform: uppercase;
  color: white;
}

.heading-days {
    color:#c86b10;
    font-size: 30px;

}

.heading-phone {
    font-size: 20px;
}
.container-form {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  width: 60%; 
  max-width: 570px;
  gap: 20px;
}

form {
  display: flex;
  align-items: center; 
  flex-direction: column;
  gap: 15px; /* Espaciado entre campos */
}
.form-group {
  display: flex;
  align-items: center;  /* Centra verticalmente los elementos */
  margin-bottom: 15px;  /* Espacio entre cada grupo de elementos */
}
.form-group label {
  width: 200px;  /* Establece un ancho fijo para las etiquetas */
  margin-right: 10px;  /* Espacio entre la etiqueta y el input */
}

.form-group input {
flex: 1;  /* Hace que los inputs ocupen el espacio restante */
padding: 8px;
font-size: 16px;
}
form p {
  margin-bottom: 10px;
  font-weight: 600;
  color: #333;
}

.form-field {
    display: flex;
    justify-content: space-between;
}

.container-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.container-form label {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.container-form input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
  width: 100%;
}
.container-form input:focus {
  border-color: #e77c15;
  outline: none;
  box-shadow: 0 0 5px rgba(231, 124, 21, 0.5);
}
.container-form button {
  padding: 12px 20px;
  background-color: #e77c15;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}
.container-form button:hover {
  background-color: #d46b10;
  transform: scale(1.05);
}
.container-form button:active {
  transform: scale(0.98);
  background-color: #bf580c;
}



@media screen and (max-width:768px){
  .heading{
      padding: 0px 20px;
  }
  .heading h1{
      font-size: 36px;
  }
  .heading p{
      font-size: 17px;
      margin-bottom: 0px;
  }
  .container{
      padding: 0px;
  }
  .about{
      padding: 20px;
      flex-direction: column;
  }
  .about-image{
      margin-right: 0px;
      margin-bottom: 20px;
  }
  .about-content p{
      padding: 0px;
      font-size: 16px;
  }
  .reserva-content h2 {
    padding: 0;
  }
  .formulario {
        flex-direction: column;
    }
    .container-form  {
        padding: 10px;
    }
  
    .heading-phone {
        font-size: 17px;
    }
  
}


  
  @media screen and (min-width: 768px) and (max-width: 880px) {
    .reserva-content h2 {
      padding: 0;
    }
      .container-time {
          padding: 30px;
      }
      .container-form  {
          padding: 10px;
      }
      
      
  }
  